{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <title>Boards</title>
</head>

<body>
  <div class="container-fluid">
      <ol aria-label="breadcrumb" class="breadcrumb my-2 text-black-50">
        <li class="breadcrumb-item">Boards</li>
        <li class="breadcrumb-item active" aria-current="page">{{board.name}}</li>
      </ol>

    <div class="row overflow-hidden gy-2">
      {% for board in boards %}
        {% if forloop.counter0|divisibleby:"3" %}
          <div class="w-100"></div>
        {% endif%}
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="card">
            <div class="card-header">{{ board.name }}</div>
            <div class="card-body">
              <p class="card-subtitle mb-2 text-muted">{{ board.description }}</p>
              <a href="#" class="btn btn-outline-secondary">Topics: 20</a>
              <a href="#" class="btn btn-outline-info">Posts: 20</a>
            </div>
            <div class="card-footer text-muted">2 days ago</div>
          </div>
        </div>
      {% endfor %}
    </div>  

    
  </div>
</body>

</html>